<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my QR code scanner!</h1>

    <form action="/generate" method="POST">
        <input name="payment" type="text" placeholder="Payment Info">
        <input type="submit" value="Generate QR code">
    </form>
</body>
</html>